body {
    background-image: url(./assets/images/345330.jpg);
}

.header {
    padding-top: 35px;
    text-align: center;
}

.name {
    color: rgb(255,255,255);
}
.profile-pic {
    border-radius: 50%;
}

.logo {
    padding: 0.25rem;
}