body {
    background-size: cover;
    background-position: center center;
    font-family: 'Open Sans';
    background-color: #222831;
}

/* HEADER STYLING */
.header {
    padding-top: 35px;
    text-align: center;
}

.name {
    color: rgb(255,255,255);
}
.profile-pic {
    border-radius: 50%;
}

.logo {
    padding: 0.25rem;
}
/* ///// END HEADER STYLING ///// */

/* LINKS STYLING */
.links-list {
    text-align: center;
}

.links {
    height: 50px;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 100px;
    margin: 0 auto;
    line-height: 50px;
}
/* ///// END LINKS STYLING ///// */

/* PROJECTS STYLING */
.projects {
    text-align: center;
    color: white;
}

.project-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.project {
    background-color: rgba(255, 255, 255, 0.733);
    color: black;
    border-radius: 30px;
    margin: 0 auto;
    max-width: 500px;
}

.project-image-container {
    padding-top: 10px;
}

.project-image {
    border-radius: 5%;
}

.project-title {
    line-height: 5px;
}

.project-description {
    font-weight: bold;
}
/* ///// END PROJECTS STYLING ///// */

/* CONTACT STYLING */
.contact-title {
    text-align: center;
    color: white;
}
/* ///// END CONTACT STYLING ///// */

/* START ABOUT ME STYLING */
.about-title {
    text-align: center;
    color: white;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1200px) {
  .project-wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-row-gap: 10px;
  }
}

@media screen and (max-width: 980px) {
    .project-wrapper {
        display: inline;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
}

/* MEDIA QUERY FOR PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .links {
        margin: 20px
    }

    .project {
        margin: 20px;
    }
}