body {
    background-size: cover;
    background-position: center center;
    font-family: 'Open Sans';
    background-color: #222831 !important;
}

/* HOME PAGE STYLING */
.home-title {
    text-align: center;
    color: white;
}
/* ///// END HOME PAGE STYLING ///// */

/* PROJECTS STYLING */
.projects {
    text-align: center;
    color: white;
}

.project-card {
    margin: 2rem !important;
}
/* ///// END PROJECTS STYLING ///// */

/* CONTACT STYLING */
.contact-title {
    text-align: center;
    color: white;
}
/* ///// END CONTACT STYLING ///// */

/* START ABOUT ME STYLING */
.about-title {
    text-align: center;
    color: white;
}
